.card {
  border: 1px solid $black;
  border-radius: 1rem;
  padding: 1rem;
}

.list-group {
  &--flush.card {
    padding: 0;
  }

  &__item {
    @include flex-row(space-between, stretch);
    padding: 1rem;
    &:not(:first-child) {
      border-top: 1px solid $black;
    }
  }
}




.tab {
  cursor: pointer;
}

.tab-body {
  display: none;

  &.active {
    @include flex-col;
  }
}



.button {
  border: 1px solid $orange;
  border-radius: 0.5rem;
  background-color: $orange;
  color: $white;
  padding: 1rem;
  text-decoration: none;

  &--light {
    background-color: $white;
    color: $orange;
  }
}
