.tab-sort-filter {
  @include flex-row(space-between, baseline, wrap);

  @include medium {
    @include flex-col($align: stretch);
  }

  &__tabs,
  &__sorts-filters {
    @include flex-row;
    flex: 1;

    & > div {
      padding: 0.5rem 1rem;
      border: 1px solid $black;
      border-radius: 0.5rem;
    }

    @include medium {
      max-width: unset;
      width: 100%;
    }
  }

  &__tabs {
    margin-top: auto;
    & > div {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.tab-bar {
      position: relative;
      top: 1px;
      .tab.active {
        border-bottom: 1px solid $white;
      }

      @include medium {
        .tab {
          flex: 1;
        }
      }
    }

  }

  &__sorts-filters {
    margin-bottom: 0.5rem;
    position: relative;
    max-width: 33%;
    & > span {
      @include flex-row;
    }

    @include medium {
      order: -1;
      max-width: unset;
    }
  }

  &__sort-toggle,
  &__filter-toggle {
    padding: 0.5rem 1rem;
    border: 1px solid $black;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    flex: 1;
  }

  &__sorts,
  &__filters {
    @include flex-col;
    position: absolute;
    top: 2.5rem;
    right: 0;
    background-color: $white;
    display: none;

    &.active {
      display: flex;
      z-index: 100;
    }
  }

  .card {
    flex: 1;
    min-width: 99%;
    border-top-left-radius: 0;
    @include medium {
      border-top-right-radius: 0;
    }
  }

  .list-group__item {
    @include flex-row(space-between, stretch);
  }

  .meeting {
    @include flex-row(space-between, stretch);
    &__left {
      @include flex-col;
    }
    &__right {
      @include flex-row($align: center);
    }
  }
}

.dashboard {
  @include flex-col;
  flex: 1;
  min-height: 1px;

  [class*=ajax] + .button {
    margin-top: 1rem;
    margin-left: auto;
  }


}
