.tab-sort-filter {
  @include flex-row(space-between, baseline, wrap);

  @include medium {
    @include flex-col($align: stretch);
  }

  &__tabs,
  &__sorts-filters {
    @include flex-row;
    flex: 1;

    & > div {
      @include card;
      padding: 0.5rem 1rem;
    }

    @include medium {
      max-width: unset;
      width: 100%;
    }
  }

  &__tabs {
    margin-top: auto;
    & > .tab {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 1rem;
      margin-right: 0.3rem;
      &.active {
        border-bottom: none;
      }
    }

    &.tab-bar {
      position: relative;
      top: 1px;
      .tab.active {
        border-bottom: 1px solid $white;
      }

      @include medium {

        &.tab-bar {
          justify-content: space-between;
          .tab {
            max-width: 24%;
            flex: 1;
            margin-right: unset;
          }
        }
      }
    }
  }

  &__sorts-filters {
    margin-bottom: 0.5rem;
    position: relative;
    max-width: 33%;
    & > span {
      @include flex-row(flex-end);
      flex: 1;
    }

    @include medium {
      order: -1;
      max-width: unset;
    }
  }

  &__sort-toggle,
  &__filter-toggle {
    @include card;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-left: 0.5rem;

    @include medium {
      flex: 1;
    }
  }

  &__sorts,
  &__filters {
    @include flex-col;
    @include card;
    padding: 1rem;
    position: absolute;
    top: 2.5rem;
    right: 0;
    background-color: $white;
    display: none;

    &.active {
      display: flex;
      z-index: 100;
    }
  }

  &__sorts {
    input[type="radio"] {
      display: none;

      &:checked + label::before {
        content: "> ";
      }
    }
  }

  &__sort-span {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .card {
    flex: 1;
    min-width: 99%;
    @include medium {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .list-group__item {
    @include flex-row(space-between, stretch);
  }

  .meeting, .next-step {
    @include flex-row(space-between, stretch);
    &__left,
    &__right {
      flex: 1;
      min-width: 1px;
    }

    &__left {
      @include flex-col(space-between);
      max-width: 40%;
    }
    &__right {
      @include flex-row(flex-end, center);
    }
    &__buttons {
      @include flex-row;
      .button:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  .tab-bar ~ .tab-body-bar {
    border-top-left-radius: 0;
  }
}

.dashboard {
  @include flex-col;
  flex: 1;
  min-height: 1px;

  [class*=ajax] + .button {
    margin-top: 1rem;
    margin-left: auto;
  }
}

.account {
  &.container {
    @include flex-col;
  }
}
