.tab-sort-filter {
  @include flex-row(space-between, baseline, wrap);

  &__tabs,
  &__sorts-filters {
    @include flex-row;

    & > div {
      padding: 0.5rem 1rem;
      border: 1px solid $black;
      border-radius: 0.5rem;
    }
  }

  &__tabs {
    margin-left: 1rem;
    margin-top: auto;
    & > div {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.tab-bar {
      position: relative;
      top: 1px;
      .tab.active {
        border-bottom: 1px solid $white;
      }
    }

  }

  &__sorts-filters {
    margin-bottom: 0.5rem;
    position: relative;
  }

  &__sort-toggle,
  &__filter-toggle {
    cursor: pointer;
    margin-left: 0.5rem;
  }

  &__sorts,
  &__filters {
    @include flex-col;
    position: absolute;
    top: 2.5rem;
    right: 0;
    background-color: $white;
    display: none;

    &.active {
      display: flex;
      z-index: 100;
    }
  }

  .card {
    flex: 1;
    min-width: 99%;
  }
}

.dashboard {
  @include flex-col;
  flex: 1;
  min-height: 1px;

  [class*=ajax] + .button {
    margin-top: 1rem;
    margin-left: auto;
  }


}
