
.container {
  width: 95%;
  max-width: 992px;
  margin: 0 auto;
}


.headline {
  @include flex-row(space-between, center);
  max-height: 10rem;
  border-bottom: 1px solid $black;

  & + * {
    overflow-y: scroll;
  }
}

