#plan-form {
  @include flex-col;

  .label {
    color: $orange;

    &--large {
      font-size: 2rem;
      font-weight: 600;
      margin-top: 1rem;
    }
  }
}

.plan-nav-buttons {
  @include flex-row(flex-end, center);
  margin-left: auto;

  & > * {
    margin-left: 1rem;
  }
}

.attendees,
.guests {
  &__col {
    @include flex-col;
  }
}

.plan {
  &__details,
  &__days,
  &__attendees,
  &__guests {
    @include flex-col;
  }
  &__errors {
    color: $red;
    margin-top: 1rem;
  }

  &__add-something {
    max-width: 20rem;
  }
}
